.wrapper {
    min-width: 352px;}
    span.alert {
        padding: 2px 5px;
        border-radius: 5px;}
    .wrapper #in-progress-alert {
        margin-left: 10px;
        font-size: 12px;
        padding: 2px 5px;
        font-style: italic;
        border-radius: 6px;}